# Node modules (ignora tanto backend quanto frontend)
**/node_modules/

# Variáveis de ambiente
**/.env

# Logs
logs
*.log
npm-debug.log*

# Diretórios do sistema
.DS_Store
Thumbs.db

# Build (caso use build em frontend futuramente)
**/dist/
**/build/
