
.layout {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 270px;
}

.container {
  width: 100%;
}

/* HEADER */
.layout-header {
  background-color: #8c52ff;
  padding: 1rem 0;
  color: white;
  margin-bottom: 2rem;
  min-width:270px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-links a:hover {
    transform: scale(1.1);
  }

.logout-button {
  display: flex;
  align-items: center;
  background-color: white;
  color: #8c52ff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #f0e7ff;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
    align-items: center;
  }

  

  .nav-links.active {
    display: flex;
  }

  .logout-button {
    display: none;
  }

  .logout-button.show-on-mobile {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    justify-content: center;
  }
}

/* BODY */
.layout-body {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  min-height: 500px;
}

/* SIDEBAR */
.layout-sidebar {
  height: 100%;
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  width: 20%;
  min-width: 250px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.layout-sidebar h3 {
  color: #737373;
  margin-bottom: 0.5rem;
}

.user-info {
  color: #999;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-buttons button {
  background-color: #e2d3ff;
  color: #6112ff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-buttons button:hover {
  background-color: #d4bfff;
}

/* CONTENT */
.layout-content {
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  width: 80%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 250px;
}


@media (max-width: 768px) {
  .layout-body {
    flex-direction: column;
  }

  .layout-sidebar,
  .layout-content {
    max-width: 100%;
    width: 100%;
  }
}
