.contato-wrapper {
  display: flex;
  flex-direction: column;
}

.contato-card{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contato-card h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contato-card p {
  font-size: 1.2rem;
  color: #555;
}

.contato-info {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1.2rem;
}