.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #956aff, #ffffff);
}

.login-box {
  background-color: #8c52ff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: white;
  width: 100%;
  max-width: 400px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-box label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.login-box input {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.login-box input:focus {
  outline: none; /* Remove a borda padrão */
  transform: scale(1.008);
}

.btnVisita {
  width: 100px;
  background-color: #ddd;
  color: #777;
  padding: 0.25rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btnSubmit {
  width: 100%;
  background-color: white;
  color: #8c52ff;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 3rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btnSubmit:hover {
  background-color:rgb(103, 27, 255);
  color: white;
  transform: scale(1.03);
}

.btnVisita:hover {
  transform: scale(1.03);
}




.signup-text {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  text-align: center;
}

.signup-link {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 0.25rem;
}

.signup-link:hover {
  color: #ddddff;
}
